<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        <label for="username">Kullanıcı Adı</label>
        <input type="text" id="username" name="username" />

        <label for="password">Şifre</label>
        <input type="password" id="password" name="password" />

        <input type="submit" value="Giriş" />
    </form>
</body>
</html>
