<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
    <span>Bu haftanın Yemek Menüsünü aşağıdaki alana yapştırın ve Kaydet tuşuna basın</span>

    <form method="post">
        <textarea name="yemekmenu"></textarea>

        <input type="submit" value="Kaydet" />
    </form>
</body>
</html>
